[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/angular-vim-snippets"]
	path = vim/bundle/angular-vim-snippets
	url = https://github.com/matthewsimo/angular-vim-snippets.git
